.modalContainer {
    border: 1px solid rgb(21, 101, 192) !important;
    background-color: rgb(241, 247, 255) !important;
    border-radius: 8px !important;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 0;
    font-family: system-ui !important;
}

.coloredToast {
  width: auto !important;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  padding: 0 !important;

}
  
.swal2-title{
    font-size: 24px !important; /* Ajusta el tamaño de la fuente según sea necesario */
    font-weight: bold !important; /* Puedes ajustar esto según tus preferencias */
}

.swal2-html-container{
    font-size: 20px !important; /* Ajusta el tamaño de la fuente según sea necesario */
}

.swal2-popup.swal2-toast .swal2-title {
    text-align: center !important;
    font-family: system-ui !important;
    text-transform: uppercase !important;
}

.swal2-timer-progress-bar {
  background-color: #3498db !important; /* Cambia esto al color deseado */
}